<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="pdao"  class="com.kbstar.dao.ProductDAO"></bean>
	<bean id="pservice"  class="com.kbstar.service.ProductGeneralServiceService">
		<constructor-arg name="dao" ref="pdao"> </constructor-arg></bean>


<!--XML의 한계를 보여주려고 적은 코드-->
<!--	<bean id="udao"  class="com.kbstar.dao.UserDAO"></bean>-->
<!--	<bean id="pservice"  class="com.kbstar.generalService.UserService">-->
<!--		<constructor-arg name="dao" ref="udao"> </constructor-arg></bean>-->

</beans>